rules_version = '2';
service cloud.firestore {

  match /databases/{database}/documents {
    
    match /{document=**} {
    	// by default noone can do anything
      allow read, write: if true;
    }

  }
}



